# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Libraries
*.lib
*.a
*.la
*.lo

# Shared libraries (built by you)
*.dll
*.so
*.dylib

# Executables
*.exe
*.out

# IDE - CLion / JetBrains
.idea/
cmake-build-debug/
cmake-build-release/

# Custom SDL3 binary folder (We keep the source, but not the DLL in the root)
extern/SDL3/bin/*.dll